<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Name:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Phone:</strong> {{ user.phone }}</p>
    <p><strong>Paid Member:</strong> {{ user.paid_member|yesno:"Yes,No" }}</p>
    <p><strong>Verified:</strong> {{ user.is_verified|yesno:"Yes,No" }}</p>
    <a href="{% url 'user:user_profile_edit' %}">Edit Profile</a>
</body>
</html>